__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.vscode/
.git/
.gitignore
.dockerignore

labeling/label_studio_docker/mydata/
label_studio_docker/mydata/
label_studio_docker/myfiles/

/data/
models/anomaly_detector_retrained
models/classifier_retrained
results/
mlruns/
mlflow_data/
mlflow.db
openvino_cache/
airflow/