__pycache__/
*.py[cod]
*$py.class

.vscode/
.env
venv/
env/
.venv/

data/
models/
mlruns/
mlflow.db
openvino_cache/

labeling/label_studio_docker/mydata/
label_studio_docker/mydata/
label_studio_docker/myfiles/

temp_ad_config.yaml
*.log
