__pycache__/
*.py[cod]
*$py.class

.vscode/
.env
venv/
env/
.venv/

/data/
mlruns/
mlflow_data/
openvino_cache/
models/anomaly_detector_retrained
models/classifier_retrained

labeling/label_studio_docker/mydata/
label_studio_docker/mydata/
label_studio_docker/myfiles/

temp_ad_config.yaml
*.log

# Airflow runtime
airflow/

# Experiment outputs
results/
mlruns/
artifacts/

# Embedded repo
related_repo/